<div class="container mb-5">
<h1 class="display-4 text-center text-uppercase mt-5 mb-5">Сценарии скидок</h1>
<section class="page-section pt-0">
<div class="row">
    <ol class="list-group list-group-numbered">
         <li class="list-group-item">различные сценарии скидок на основе данных корзины клиента используя liquid</li>
        <li class="list-group-item">скидки на кол-во товаров в корзине</li>
        <li class="list-group-item">от суммы корзины</li>
        <li class="list-group-item">от состава корзины</li>
        <li class="list-group-item">от катеогрии товара</li>
        <li class="list-group-item">редактируемое сообщение клиенту о скидке</li>
        <li class="list-group-item">персональная скидка (в разработке)</li>
    </ol>
    </div>
</section>
<%= render 'home/price_section'%>
</div>