<div class="container mb-5">
    <section class="page-section pt-0">
        <div class="row">
            <div class="display-6 text-center text-uppercase mb-5">Возможности</div>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">различные типы Заявок с сайта со статусами и автоматизацией: "Брошенная корзина", "Предзаказ", "Сообщить о поступлении", "Обратная связь", "Скидка в категории" и др</li>
                <li class="list-group-item">"Листы желаний" с возможностью автоматического оповещения клиента по сценарию</li>
                <li class="list-group-item">уведомления клиентам и менеджерам интернет-магазина о событиях, происходящих с Заявками в зависимости от разных триггеров</li>
                <li class="list-group-item">возможность использовать свою доменную почту, например info@store.ru</li>
                <li class="list-group-item">отслеживание открытий и кликов по сообщениям</li>
                <li class="list-group-item">отложенная отправка сообщений через несколько минут, часов, дней</li>
                <li class="list-group-item">индивидуальные шаблоны сообщений для разных событий как для клиента, так и для менеджера магазина</li>
                <li class="list-group-item">использование языка Liquid для сообщений, что позволяет иметь гибкую настройку</li>
                <li class="list-group-item">разные каналы оповещения клиента: email, sms (в разработке), telegramm (в разработке), whatsapp (в разработке) </li>
                <li class="list-group-item">выполнение периодических заданий (проверка остатков товаров и др) </li>
                <li class="list-group-item">"Сценарии скидок" в зависимости от состава корзины, категорий товаров, на самый дешёвый товар и др</li>
                <li class="list-group-item">cтатистика по Клиентам и Товарам, экспорт данных в .xlsx и .csv, инструкции по настройке</li>
                <li class="list-group-item">визуальный конструктор вебформ с таймером показа формы, частотой показа и др</li>
                <li class="list-group-item">5 стандартных сценариев устанавливаются нажатием одной кнопки</li>
                <li class="list-group-item">объединение товаров в группы по различным характеристикам с автоматической публикацией в магазине</li>
            </ol>
        </div>
    </section>
    <%= render 'home/price_section'%>

</div>