<div class="container mb-5">
    <section class="page-section pt-0">
        <div class="row">
            <div class="display-6 text-center text-uppercase mb-5">Возможности</div>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">различные типы Заявок с сайта в "одном окне": "Брошенная корзина", "Предзаказ", "Сообщить о поступлении"</li>
                <li class="list-group-item">"Листы желаний" с возможностью автоматического оповещения клиента по сценарию</li>
                <li class="list-group-item">уведомления клиентам и менеджерам интернет-магазина о событиях, происходящих с Заявками в зависимости от разных триггеров</li>
                <li class="list-group-item">возможность использовать свою доменную почту, например info@store.ru (есть настройки для yandex, mail, gmail, masterhost и др.)</li>
                <li class="list-group-item">отложенная отправка сообщений через несколько минут, часов, дней</li>
                <li class="list-group-item">индивидуальные шаблоны сообщений для разных событий как для клиента, так и для менеджера магазина</li>
                <li class="list-group-item">использование языка Liquid для сообщений, как в шаблонах InSales</li>
                <li class="list-group-item">разные каналы оповещения клиента: email, sms (в разработке), telegramm (в разработке), whatsapp (в разработке) </li>
                <li class="list-group-item">выполнение периодических заданий (email, API) </li>
                <li class="list-group-item">"Сценарии скидок" в зависимости от состава корзины и категорий товаров</li>
                <li class="list-group-item">cтатистика по Клиентам и Товарам</li>
                <li class="list-group-item">экспорт данных в .xlsx и .csv</li>
                <li class="list-group-item">бесплатные инструкции по настройке в личном кабинете</li>
            </ol>
        </div>
    </section>
    <%= render 'home/price_section'%>

</div>