<section class="page-section mb-0" id="setup">
  <div class="container">

    <!-- About Section Heading -->

    <div class="container">
      <h1 class="h2 text-center">Договор-оферта</h1>
      <p><strong>19 февраля 2019 г. </strong></p>
      <p><strong>Публичная оферта на заключение лицензионного соглашения
и договора на оказание услуг сервиса «К-коммент»</strong></p>
<div class="section text">
<p>1. Общие положения</p>
<p>1.1. Настоящее Лицензионное соглашение устанавливает условия использования программного обеспечения для ЭВМ онлайн-сервиса «К-коммент» (далее – Программа) в течение определенного времени и заключено между любым лицом, использующим Программу (далее – Пользователь), и Правообладателем.</p>

<p>1.2. Настоящее Лицензионное соглашение является офертой Правообладателя и заключается с момента его акцепта Пользователем, при этом акцептом Пользователя является факт оплаты в пользу Правообладателя соответствующего Тарифа.
</p><p>1.3. Программа – Программное обеспечение для ЭВМ сервиса «К-коммент», расположенное по адресу в сети Интернет <a href="https://app.teletri.ru/">https://app.teletri.ru/</a> и предназначенное для самостоятельного ведения Пользователем учета.
</p><p>1.4. Тариф – раздел прайс-листа на лицензионное вознаграждение, находящегося по адресу <a href="https://www.app.teletri.ru#price">https://www.app.teletri.ru#price</a>, определяющий стоимость, объем функциональных возможностей Программы и срок предоставления использования Пользователем соответствующей категории услуг Программы. Тарифы доводятся до Пользователя путем размещения на сайте <a href="https://app.teletri.ru/">https://app.teletri.ru/</a>.
</p><p>2. Предмет Лицензионного соглашения
</p><p>2.1. Предметом настоящего Лицензионного соглашения является передача Правообладателем неисключительных прав использования Программы Пользователю на условиях простой (неисключительной) лицензии путем предоставления доступа к Программе на сервере Правообладателя.
</p><p>2.2. Все условия, оговоренные далее, относятся как к Программе в целом, так и ко всем ее компонентам в отдельности.
</p><p>2.3. Обязательным условием использования Программы является заключение Пользователем договора-оферты с Правообладателем на оказание услуг.
</p><p>2.4. Местом заключения настоящего договора-оферты является г. Москва.
</p><p>3. Исключительные права на Программу
</p><p>3.1. Программа является результатом интеллектуальной деятельности Правообладателя и защищается законодательством Российской Федерации об авторском праве, все исключительные права на Программу, сопровождающие ее материалы и любые ее копии, принадлежат Правообладателю.
</p><p>3.2. Право использования Программы предоставляется Пользователю исключительно на условиях и в объеме, оговоренных настоящим Лицензионным соглашением.
</p><p>3.3. Правообладатель информирует Пользователя, что согласно ст. 1262 Гражданского кодекса Российской Федерации государственная регистрация прав в отношении программ для ЭВМ осуществляется по желанию Правообладателя. Правообладатель уведомляет Пользователя, что государственная регистрация прав на Программу не проводилась.
</p><p>4. Условия использования Программы
</p><p>4.1. Правообладатель предоставляет Пользователю на условиях простой (неисключительной) лицензии следующие права на Программу в соответствии с лицензионным вознаграждением и Тарифом, оплаченным последним:
</p><p>4.1.1. Право на доступ к Программе, размещенной на сервере Правообладателя, в течение срока действия оплаченного тарифа.
</p><p>4.1.2. Право на использование Программы для подготовки и ведения учета, соответствующему оплаченному Тарифу.
</p><p>4.2. Предоставляемая Правообладателем лицензия на Программу используется только Пользователем и не подлежит передаче третьим лицам без предварительного письменного согласия Правообладателя.
</p><p>5. Права и обязанности сторон
</p><p>5.1. Правообладатель имеет право:
</p><p>5.1.1. Вносить изменения в Программу и базу данных, по собственному усмотрению без согласования с Пользователями.
</p><p>5.1.2. Останавливать доступ Пользователя к Программе в случае нарушения последним условий настоящего Лицензионного соглашения.
</p><p>5.1.3. Проводить профилактические работы на сервере, включая работы, требующие приостановки доступа в Программу.
</p><p>5.2. Правообладатель обязан:
</p><p>5.2.1. Предоставить Пользователю доступ к Программе в течение 5 (пяти) рабочих дней с даты оплаты последним соответствующего Тарифа.
</p><p>5.2.2. Обновлять программное обеспечение на сервере, при этом под термином «обновление программного обеспечения» в настоящем Лицензионном соглашении понимается программное обеспечение, которое заменяет или дополняет действующую программу для ЭВМ. Все обновления являются неотъемлемой частью программного обеспечения, и к таким обновлениям применяются условия настоящего Лицензионного соглашения.
</p><p>5.2.3. Принимать все разумные меры по обеспечению сохранности в Программе введенных Пользователем данных до момента получения уведомления от последнего о необходимости их уничтожения на сервере или до истечения 6 месяцев с момента окончания использования соответствующего оплаченного тарифа. Однако мы настоятельно рекомендуем вам регулярно сохранять свои данные во избежание их возможной утраты.
</p><p>5.2.4. Обеспечить конфиденциальность данных, размещенных Пользователем в Программе, на весь период их нахождения на сервере Правообладателя.
</p><p>5.2.5. Воздерживаться от каких-либо действий, способных затруднить осуществление Пользователем предоставленного ему права использования Программы в установленных настоящим Лицензионным соглашением пределах.
</p><p>5.3. Пользователь имеет право:
</p><p>5.3.1. Получать доступ к программе Правообладателя, за исключением времени проведения профилактических работ.
</p><p>5.3.2. Пользоваться сервисом технической поддержки Пользователей.
</p><p>5.4. Пользователь обязуется:
</p><p>5.4.1. Соблюдать все условия настоящего Лицензионного соглашения.
</p><p>5.4.2. Не передавать третьим лицам пароли и логины, используемые для доступа к Программе, обеспечить конфиденциальность их хранения, при необходимости назначить уполномоченных лиц, имеющих права работы с определенными логинами, принадлежащими Пользователю.
</p><p>5.4.3. Не предоставлять (передавать) полностью или частично третьим лицам полученные им по настоящему Лицензионному соглашению права, не продавать, не тиражировать, не копировать Программу полностью или частично, не отчуждать иным образом, в том числе безвозмездно, без получения на все вышеперечисленные действия предварительного письменного согласия Правообладателя.
</p><p>5.4.4. Не использовать программы, обеспечивающие автоматическую обработку (разборку) интернет-страниц сервиса «К-коммент» в целях получения нужных данных, т.е. парсить.
</p><p>5.4.5. Предоставить при регистрации актуальный адрес электронной почты. В случае изменения адреса электронной почты Пользователь обязуется сообщить новый адрес электронной почты в течение 5 (пяти) рабочих дней с момента их изменения. Информация, направленная по указанной электронной почте, будет считаться переданной Пользователю.
</p><p>6. Лицензионное вознаграждение и порядок передачи прав на Программу
</p><p>6.1. Пользователь оплачивает Правообладателю лицензионное вознаграждение – Тариф за право использования Программы в размере, установленном на сайте <a href="https://app.teletri.ru/">https://app.teletri.ru/</a>.
</p><p>6.2. Лицензионное вознаграждение уплачивается Пользователем в 100%-ном размере, установленном на сайте <a href="https://app.teletri.ru/">https://app.teletri.ru/</a>, единожды за весь срок предоставления лицензии.
</p><p>6.3. Лицензионное вознаграждение выплачивается в рублях РФ следующим способом
</p><p>6.3.1. Путем оплаты с использованием банковской карты, платежных систем WebMoney, Яндекс.Деньги, обязанность по оплате считается исполненной в момент зачисления денежных средств на расчетный счет Правообладателя.
</p><p>6.4. Пользователь не имеет права совершать оплату по настоящему Лицензионному соглашению в пользу Правообладателя со счетов третьих лиц без письменного уведомления Пользователем Правообладателя с обязательным получением на то согласия Правообладателя.
</p><p>6.5. В случае если в течение 5 (пяти) рабочих дней с момента окончания оплаченного периода Правообладатель не получил претензий Пользователя, связанных с объемом предоставленных прав, то считается, что неисключительное право использования Программы предоставлено Пользователю в полном объеме надлежащим образом.
</p><p>6.6. Права на программу считаются переданными Пользователю в момент предоставления доступа к Программе в соответствии с п. 5.2.1.
</p><p>7. Ответственность и порядок разрешения споров
</p><p>7.1. Программа предоставляется Пользователю «как есть» (as is) в соответствии с общепринятым в международной практике принципом. Это означает, что за проблемы, возникающие в процессе установки, обновления, поддержки и эксплуатации Программы (в т. ч. проблемы совместимости с другими программными продуктами (пакетами, драйверами и др.), несоответствия результатов использования Программы ожиданиям Пользователя и т.п.), Правообладатель ответственности не несет. Пользователь должен понимать, что несет полную ответственность за возможные негативные последствия, вызванные несовместимостью или конфликтами Программы с другими программными продуктами, установленными на компьютере Пользователя. Программа не предназначена и не может быть использована в информационных системах, работающих в опасных средах либо обслуживающих системы жизнеобеспечения, в которых сбой в работе Программы может создать угрозу жизни людей или повлечь материальные убытки.
</p><p>7.2. Правообладатель не несет ответственности за невозможность использования Программы по причинам, зависящим от Пользователя.
</p><p>7.3. Правообладатель прилагает все возможные усилия для обеспечения нормальной работоспособности сайта Программы, однако не несет ответственности за неисполнение или ненадлежащее исполнение обязательств по настоящему Лицензионному соглашению, а также за прямые и косвенные убытки Пользователя, включая упущенную выгоду и возможный ущерб, возникший в том числе в результате:
</p><p>7.3.1. Неправомерных действий пользователей сети Интернет, направленных на нарушение информационной безопасности или нормального функционирования сайта Программы.
</p><p>7.3.2. Отсутствия (невозможности установления, прекращения и пр.) интернет-соединений между сервером Пользователя и сервером Правообладателя.
</p><p>7.3.3. Проведения государственными и муниципальными органами, а также иными организациями мероприятий в рамках оперативно-разыскных мероприятий.
</p><p>7.3.4. Установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности коммерческих организаций в сети Интернет и/или установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным исполнение настоящего Лицензионного соглашения.
</p><p>7.3.5. Других случаев, связанных с действиями (бездействием) пользователей сети Интернет и/или других субъектов, направленными на ухудшение общей ситуации с использованием сети Интернет и/или компьютерного оборудования, существовавшей на момент заключения настоящего Лицензионного соглашения.
</p><p>7.4. Правообладатель оставляет за собой право приостанавливать работу сайта Программы для проведения профилактических работ по возможности в ночное время или выходные дни.
</p><p>7.5. Правообладатель заявляет, что на момент заключения настоящего Лицензионного соглашения ему ничего не известно о правах третьих лиц, которые могли бы быть нарушены предоставлением Пользователю прав на использование Программы по данному Лицензионному соглашению. Правообладатель будет защищать Пользователя от всех исков третьих сторон в отношении интеллектуального или промышленного владения Программой. В случае появления такого иска Пользователь должен незамедлительно информировать Правообладателя обо всех претензиях, предъявленных третьей стороной, и предоставить всю необходимую информацию, касающуюся этого спора.
</p><p>7.6. В случае возникновения между Правообладателем и Пользователем споров или разногласий, вытекающих из настоящего Лицензионного соглашения или связанных с ним, стороны примут все меры к их разрешению путем переговоров между собой.
</p><p>7.7. В случае если не удается разрешить возникшие между сторонами споры и/или разногласия путем переговоров, то такие споры разрешаются в Арбитражном суде г. Москвы.
</p><p>8. Срок действия Лицензионного соглашения и порядок его расторжения
</p><p>8.1. Настоящее Лицензионное соглашение вступает в силу с даты акцепта и действует до полного исполнения своих обязательств сторонами, а в части передачи неисключительных прав на Программу (лицензии) – в течение срока, установленного Тарифами.
</p><p>8.2. Настоящее Лицензионное соглашение является офертой, и в силу действующего гражданского законодательства РФ Правообладатель имеет право на отзыв оферты в соответствии со ст. 436 ГК РФ. В случае отзыва настоящего Лицензионного соглашения Правообладателем в течение срока его действия настоящее Лицензионное соглашение считается прекращенным с момента отзыва. Отзыв осуществляется путем размещения соответствующей информации на сайте <a href="https://app.teletri.ru/">https://app.teletri.ru/</a>.
</p><p>8.3. Настоящее Лицензионное соглашение может быть расторгнуто досрочно:
</p><p>8.3.1. По взаимному соглашению Пользователя и Правообладателя.
</p><p>8.3.2. По инициативе Правообладателя в случае нарушения Пользователем условий настоящего Лицензионного соглашения без возврата последнему каких-либо денежных средств.
</p><p>9. Прочие условия
</p><p>9.1. Действие лицензии по настоящему Лицензионному соглашению распространяется на все последующие обновления / новые версии Программы. Соглашаясь с установкой обновления / новой версии Программы, Пользователь принимает условия настоящей лицензии для соответствующих обновлений / новых версий Программы, если обновление / новая версия Программы не сопровождается иным лицензионным соглашением.
</p><p>9.2. Стороны договорились, что при исполнении настоящего Лицензионного соглашения допускается использование подписей представителей сторон, а также их печатей с помощью средств факсимильной связи, механического или иного копирования, электронно-цифровой подписи либо иного аналога собственноручной подписи руководителей и печатей организаций. Стороны подтверждают, что приложения к настоящему Лицензионному соглашению, подписанные и оформленные указанным в настоящем пункте способом, имеют юридическую силу и обязательны для исполнения сторонами.
</p><p>9.3. Стороны признают любую информацию, касающуюся заключения настоящего Лицензионного соглашения, включая любые приложения и дополнения к нему, коммерческой тайной и обязуются строго сохранять конфиденциальный характер такой информации, не разглашая ее третьим лицам без предварительного письменного на то согласия другой стороны, за исключением случаев, когда это необходимо для целей настоящего Лицензионного соглашения или для раскрытия соответствующим государственным органам в случаях, определенных законом. Указанное положение не относится к общеизвестной или общедоступной информации.
</p><p>9.4. Правообладатель вправе в одностороннем порядке внести изменения в условия предоставления услуг, разместив об этом информацию на сайте <a href="https://app.teletri.ru/">https://app.teletri.ru/</a> в публичном доступе и внеся изменения в настоящее Лицензионное соглашение. Указанные изменения в условиях настоящего соглашения вступают в силу с даты их публикации, если иное не оговорено в соответствующей публикации.
</p><p>9.5. Принимая условия настоящего Лицензионного соглашения, Пользователь подтверждает наличие у него законных оснований для обработки принадлежащей ему информации с использованием Программы.
</p>
<p>9.6. Все вопросы, не урегулированные настоящим Лицензионным соглашением, подлежат разрешению в соответствии с законодательством РФ.</p>

<p>
Правообладатель программного обеспечения для ЭВМ информационного сервиса «К-коммент» Индивидуальный предприниматель Эмексизов Панаёт Алексеевич
<br>ИНН 772745849012
<br>ОГРНИП 313774610800128
<br>ПАО АКБ "АВАНГАРД" г Москва
<br>БИК 044525201
<br>РАСЧЕТНЫЙ СЧЕТ 40802810200070017229
</p>
</div>
    </div>

  </div>
</section>