<div class="container mb-5">
<h1 class="display-4 text-center text-uppercase mt-5 mb-5">Предзаказ</h1>
<section class="page-section pt-0">
<div class="row">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">собираем заявки клиентов с формы предзаказа товара с учетом его варианта</li>
        <li class="list-group-item">создание заказа из заявки с комментарием в заказе по API</li>
        <li class="list-group-item">возможность настроить и использовать доменную почту, например info@store.ru (есть настройки для yandex, mail, gmail, masterhost и др.)</li>
    </ol>
</div>
</section>
<%= render 'home/price_section'%>
</div>  